<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funcionarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/icon/carroico.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bodyfooter.css">
</head>
<body>
<ul th:replace="~{fragments/publica-nav :: navbar}"></ul>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Adicionar um novo cliente</h2>

            <form method="post" enctype="multipart/form-data" th:object="${FuncionarioDto}">


                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Nome</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" th:field="${FuncionarioDto.nome}">
                        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></p>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">CPF</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" th:field="${FuncionarioDto.cpf}">
                        <p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></p>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" th:field="${FuncionarioDto.email}">
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
                    </div>
                </div>


                <div class="row">
                    <div class="offset-sm-4 col-4 d-grid">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="http://localhost:8080/funcionario" role="button">Cancelar</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<footer>
    © 2024 Estacionamento Clique Vaga
</footer>

</body>
</html>
